@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;

    --bcp: #18181b;
    --bcprincipal: #f3f4f6;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.app-container {
  @apply min-h-screen flex flex-col justify-between bg-[var(--bcprincipal)];
}

.top-nav,
.bottom-nav {
  @apply bg-[var(--bcp)] text-white flex items-center justify-between p-4;
}

.map-container {
  @apply relative;
  height: calc(55vh);
}

.emergency-button-container {
  @apply p-4 mt-2;
}

.emergency-button {
  @apply bg-[var(--bcp)] text-white p-4 rounded-lg text-lg font-semibold flex items-center justify-center shadow-md;
  height: 5rem;
}

.options {
  @apply flex justify-around p-4 gap-4;
}

.option {
  @apply bg-white shadow-lg p-4 rounded-lg flex flex-col items-center justify-center text-center w-36;
}

.bottom-nav .icon {
  @apply text-2xl text-white;
}
